// _colors.scss

$primary-color: #C20114; //Harvard Crimson
$secondary-color: #6D7275; //Nickel
$text-color: #0C120C; //Smoky Black
$gray: #C7D6D5; //light gray
$white: #ECEBF3; //anti-flash white
$hover-color: #FF8C00;