@import 'colors';
@import 'loader';
// bower:scss
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.panel-default {
    border-color: #ddd;
    border-top-right-radius: 40px;
    border-color: $secondary-color;
    background-color: $secondary-color;
    -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.78);
    .panel-heading {
        color: $white;
        background-color: $primary-color;
        border-color: black;
        font-weight: bold;
        font-size: larger;
        text-transform: uppercase;
        padding-left: 40px;
    }
    .panel-body {
        background-color: $secondary-color;
        padding: 10px;
        border-radius: 0px 0px 10px 10px;
    }
}

.panel-heading {
    border-top-right-radius: 40px;
}

.rule-button {
    padding-bottom: 5px;
    a {
        color: $text-color;
    }
    a.list-group-item:hover {
        color: $text-color;
        text-decoration: none;
        background-color: $hover-color;
    }
}

.badge {
    color: $text-color;
    background-color: $gray;
}

.header {
    border-bottom: 0px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    tranform: translate(-50%, -50%);
}
